@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
ul li{
  list-style: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.btn{
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
.btn:hover{
  background-color: #ddd;
}